.container{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 2;
}

.window{
  position: absolute;
  border: 5px solid #aec8ff;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  width: 500px;
  background-color: white;
  border-radius: 15px;
  padding: 15px 20px;

  @media (max-width: 530px) {
    width: 400px;
  }

  @media (max-width: 430px) {
    width: 300px;
    padding: 10px 10px;
  }
}

.title{
  margin: 0 0 10px;
  text-align: center;
}