.container{
  width: 100%;
  position: relative;
  border: 3px solid #dadada;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  display: flex;

  &_grayscaled{
    background-color: #ededed;
    color: gray;

  }
}

.options{
  flex: 0 0 6%;
  width: 100%;
  border-left:  3px solid #dadada;
}

.star{
  position: absolute;
  top: 0; right: -45px;
  width: 33px;
  height: 33px;
  cursor: pointer;
  & path{
    fill: #cacaca;
  }
}

.starChecked{
  & path{
    fill: #ffc107;
  }
}

.content{
  flex: 1 1 auto;
}

.header{
  border-bottom: 3px solid #dadada;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}
.title, .description{
  word-break: break-all;
}

.title{
  font-size: 25px;
  font-weight: bold;
}

.description{
  padding: 5px 20px;
  max-width: 100%;
}

.options{
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editBtn{
  flex: 1 1 auto;
  margin-top: 5px;
}





