.container {
  width: 100%;
  position: relative;
  border: 3px solid #dadada;
  border-radius: 10px;
  display: flex;
  transition: background-color, color .2s;

  &_grayscaled {
    background-color: #ededed;
    color: gray;
  }
}

.options {
  flex: 0 0 6%;
  width: 100%;
  border-left: 3px solid #dadada;
}

.star {
  position: absolute;
  top: 0;
  right: -45px;
  width: 33px;
  height: 33px;
  cursor: pointer;

  & path {
    fill: #cacaca;
  }
}

.starChecked {
  & path {
    fill: #ffc107;
  }
}

.content {
  flex: 1 1 auto;
}

.header {
  border-bottom: 3px solid #dadada;
  display: flex;
  justify-content: space-between;

  @media (max-width: 450px) {
    flex-direction: column;
  }
}

.header, .description {
  padding: 5px 20px;

  @media (max-width: 450px) {
    padding: 5px 10px;
  }
}

.title, .description {
  word-break: break-word;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;

  @media (max-width: 700px) {
    font-size: 20px;
  }

  @media (max-width: 450px) {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.date {
  @media (max-width: 450px) {
    font-size: 14px;
  }
}

.description {
  max-width: 100%;
  font-size: 18px;
  line-height: 1.5;
}

.options {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editBtn {
  flex: 1 1 auto;
  margin-top: 5px;
}





