.container{
  width: 100%;
  position: relative;
  border: 3px solid #dadada;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  display: flex;
}

.options{
  flex: 0 0 6%;
  width: 100%;
  border-left:  3px solid #dadada;
}

.star{
  position: absolute;
  top: 0; right: -45px;
  width: 33px;
  height: 33px;
  cursor: pointer;
  & path{
    fill: #cacaca;
  }
}

.starChecked{
  & path{
    fill: #ffc107;
  }
}

.content{
  flex: 1 1 auto;
}

.header{
  border-bottom: 3px solid #dadada;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.title{
  font-size: 25px;
  font-weight: bold;
}

.description{
  padding: 5px 20px;
}