.container{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #aec8ff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

.btn{
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition:  0.2s;
  margin-left: 25px;
  &:hover{
    transform: scale(0.9);
  }
}
